# Database
DATABASE_URL=mongodb://localhost:27017/dance_skill

# GreenInvoice API
GREENINVOICE_API_KEY=
GREENINVOICE_API_SECRET=
GREENINVOICE_PLUGIN_ID=
GREENINVOICE_GROUP=
GREENINVOICE_API_URL=https://api.greeninvoice.co.il/api/v1

# Email Service
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=

# Authentication
JWT_SECRET=supersecretkey123
VIDEO_SECRET_TOKEN=videosecret123
APP_BASE_URL=http://localhost:3000

# Server
PORT=3000
NODE_ENV=development
